<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Add new Bus</h1>
	<h3>Once the data is added it cannot be changed</h3>
	<form method="POST" action="/addbus">
		Bus Number: <input type="text" style="width: 50%;" name="busnumber" placeholder="Try to keep it in CAPS" required />
		<br>
		<br>
		IMEI: <input type="text" name="imei" style="width: 50%;" placeholder="Numeric only with a 0 in start" required />
		<br>
		<br>
		<button type="submit">Add Bus</button>
	</form>

	<br>
	<br>
	<br>
	<br>
	<hr>

	<h1>Add new Invoice</h1>
	<h3>Write additional information inside the Notes Textarea for this Invoice</h3>
	<form method="POST" action="/addinvoice">
		Contractor Name: <input type="text" style="width: 50%;" name="contractor" required placeholder="Try to keep it consistant with other Invoices" />
		<br>
		<br>
		Price: <input type="text" name="price" style="width: 50%;" required placeholder="In Rs." />
		<br>
		<br>
		Amount Paid: <input type="text" name="amount_paid" style="width: 50%;" required placeholder="In Rs." />
		<br>
		<br>
		Issued By: <input type="text" name="issued_by" required style="width: 50%;" placeholder="Your Name" />
		<br>
		<br>
		Additional Notes: <textarea name="notes" placeholder="Any additional notes regarding " style="width: 50%;"></textarea>
		<br>
		<br>
		<button type="submit">Add Invoice</button>
	</form>

	<br>
	<br>
	<br>
	<br>
	<hr>

	<h1>Update Mobile Number using IMEI</h1>
	<h3>Not for playing</h3>
	<form method="POST" action="/updatemobilenumber">
		IMEI: <input type="text" style="width: 50%;" name="imei" required placeholder="With 0 appended in start (total 16 characters)" />
		<br>
		<br>
		Mobile Number: <input type="text" name="mobilenumber" style="width: 50%;" required placeholder="Total 10 numbers (no + and country code)" />
		<br>
		<br>
		<button type="submit">Update</button>
	</form>

	<br>
	<br>
	<br>
	<br>
	<hr>

	<h1>Update Bus Number using IMEI</h1>
	<h3>Not for playing</h3>
	<form method="POST" action="/updatebusnumber">
		IMEI: <input type="text" style="width: 50%;" name="imei" required placeholder="With 0 appended in start (total 16 characters)" />
		<br>
		<br>
		Bus Number: <input type="text" name="busnumber" style="width: 50%;" required placeholder="Should be unique and all CAPS" />
		<br>
		<br>
		<button type="submit">Update</button>
	</form>
</body>
</html>